@import "neat-helpers";

$max-width: em(1088) !global;
$grid-columns: 8 !global;
$border-box-sizing: true !global;
$gutter: 0.5em;

$smallest: 480px;
$smaller: 768px;

$mobile: new-breakpoint(max-width $smallest 4);
$tablet: new-breakpoint(min-width $smallest + 1 max-width $smaller 8);
$desktop: new-breakpoint(min-width $smaller + 1 12);

$visual-grid: false !global;
$visual-grid-color: #c4b0b0 !global;
