@import "bourbon";

@import "grid-settings";

@import "neat";

@include font-face('font-awesome', '../resources/fonts/font-awesome/fontawesome-webfont', normal);

$card-width: 3em;

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: #222;
}

.deck {
  width: (8 * ($card-width + $gutter)) + (2 * 1em);
  height: 100%;
  text-align: center;
  margin: auto;
  background: White;
  position: relative;

  .moves-count {
    padding: $gutter 0;
    background: #00ccff;
    font-weight: bold;
  }

  .cards {
    padding: 1em;
    position: relative;
  }

  .card {
    font-family: 'font-awesome';
    display: inline-block;
    position: relative;
    margin-right: $gutter;
    margin-bottom: $gutter;
    cursor: pointer;
    text-align: center;
    width: $card-width;
    height: golden-ratio($card-width, 1);
    line-height: golden-ratio($card-width, 1);

    &:nth-child(8n) {
      margin-right: 0;
    }

    .face, .backface {
      font-size: 1.5em;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0.2em 0 #222;
      border-radius: 3px;
      font-weight: bold;
      @include transition(opacity 1s ease-out 0s);
    }
    .face {
      visibility: hidden;
      border: solid 3px #222;
      color: #222;
      background: White;
    }
    .backface {
      visibility: visible;
      border: solid 3px White;
      color: White;
      background: #222;
      @include transform(rotateY(180deg));
    }

    &.flipped, &.paired {
      .face {
        visibility: visible;
      }
      .backface {
        visibility: hidden;
      }
    }

    &.paired {
      .face {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  &.victory .cards .card.paired .face {
    opacity: 1;
  }
}
